*{
    font-family: Arial, Helvetica, sans-serif;
}
body{
    text-align: center;
}

#main{
    margin-left: auto;
    margin-right: auto;
    width: fit-content;
    display: flex;
    flex-direction: column;
    justify-content: center;
    min-height: 70vh;
}
#resultadoLinus{
    max-width: 550px;
}
#main input{
    padding: 4px;
    margin-bottom: 10px;
}
#main button{
    padding: 4px;
}
